<div class="container-fluid bg-secondary">
    <h1 class="text-info text-center bg-secondary">Showing BlogDetails Here ..........</h1>

    <div class="blogholder">
        <div class="card">
            <div class="row">
                <div class="blogcontainer col-lg-7">
                    <div class="modal-body">
                        PostedBy: <strong> {{ modelBlogs.name }} </strong>
                    </div>
                    <div class="modal-body">
                        ShortDesc: <p [innerHTML]= "modelBlogs.quotes"></p>
                    </div>
                    <div class="modal-body">
                        Description: <p [innerHTML]= "modelBlogs.form"></p>
                    </div>
                </div>
                <div class="col-lg-5 a">
                    <img src="{{modelBlogs.flag}}">
                </div>
            </div>
            <div class="modal-footer">
                Category :- <strong> {{ modelBlogs.category }} </strong>
            </div>

        </div>
    </div>

</div>

